body {
    background-color: #73d37c;
    color: rgb(0, 0, 0);
    font-family: "Syne Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 196px;
    margin: 0;
    padding: 200px;
}

button {
    background-color: #2a6d1f;
    color: white;
    font-family: "Syne Mono", monospace;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}